@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* main #item9, * main #item8, * main #item7, * main #item6, * main #item5, * main #item4, * main #item3, * main #item2, * main #item1 {
  background-size: cover;
  background-position: center;
}

.nav-link-1 {
  background-color: #87d7dc;
}

.nav-link-2 {
  background-color: #73d0d6;
}

.nav-link-3 {
  background-color: #5fc9d1;
}

.nav-link-4 {
  background-color: #4cc3cb;
}

.nav-link-5 {
  background-color: #39bbc4;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
@keyframes titulo {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
* header {
  background-color: black;
}
* header .flex-container {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}
* header .flex-item {
  width: max-content;
  margin: 10px;
}
* header .barras {
  font-size: 30px;
  color: white;
  background-color: #39bbc4;
  border: none;
  padding: 16px;
  cursor: pointer;
}
* header .listas {
  background-color: #39bbc4;
  width: 200px;
  display: none;
  text-decoration: none;
}
* header .listas a {
  list-style: none;
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}
* header .listas a:hover {
  background-color: #39bbc4;
}
* header .desplegable {
  text-decoration: none;
}
* header .desplegable:hover .listas {
  display: block;
}
* header a.nav-link {
  font-size: 25px;
  color: black !important;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
* header a.nav-link:hover {
  color: white !important;
  background-color: salmon !important;
}
* header .navbar {
  padding: 0px;
}
* header picture {
  text-align: center;
}
* main {
  text-align: center;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}
* main .titulos {
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  font-size: 55px;
  color: white;
  padding: 25px;
  animation-name: titulo;
  animation-iteration-count: 1;
  animation-duration: 5s;
}
* main .titulonews {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  color: white;
  padding: 25px;
  animation-name: titulo;
  animation-iteration-count: 1;
  animation-duration: 5s;
}
* main .titulonews2 {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  color: white;
  padding: 25px;
  animation-name: titulo;
  animation-iteration-count: 1;
  animation-duration: 5s;
}
* main .nombres {
  font-size: 40px;
  color: white;
  background-color: #39bbc4;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}
* main .newstitle {
  font-size: 40px;
  color: salmon;
  background-color: #39bbc4;
  text-align: center;
  border-radius: 10px;
}
* main .textos {
  background-color: salmon;
  color: white;
}
* main .textonews {
  font-size: 1.5rem;
  color: white;
  text-align: justify;
  background-color: salmon;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
}
* main section h3 {
  margin-bottom: 0.5rem;
}
* main section h3 b {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: white;
}
* main section h3 i {
  background-color: salmon;
  font-size: 30px;
  color: white;
}
* main .ahref {
  color: red;
}
* main .primero {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: white;
  margin-top: 10px;
}
* main .segundo {
  background-color: salmon;
  font-size: 30px;
  color: white;
}
* main .mini1 {
  font-size: 20px;
  color: salmon;
  background-color: white;
}
* main .mini2 {
  font-size: 20px;
  color: black;
  background-color: white;
}
* main .boximg {
  background-color: #39bbc4;
  margin: auto;
  margin-top: 50px;
  border-style: outset;
  border-width: 15px;
  border-color: salmon;
}
* main .imgind {
  max-width: 40rem;
}
* main .news {
  position: static;
  margin: auto;
  margin-top: 50px;
  width: fit-content;
}
* main .box1 {
  background: radial-gradient(white, rgba(255, 255, 255, 0.3));
  padding: 15px;
  border-radius: 10px;
  border-style: outset;
  border-width: 15px;
  border-color: salmon;
  width: 40rem;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 2rem;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
* main .contenedor {
  width: auto;
  height: auto;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9";
}
* main .item {
  width: 250px;
  height: 250px;
  margin: 30px;
  border-radius: 10px;
}
* main .item:hover .info {
  opacity: 1;
  border-radius: 10px;
}
* main .item:hover .headline {
  margin-left: 2.3rem;
}
* main .item:hover .info2 {
  margin-top: 70px;
}
* main .info {
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: 250px;
  background-color: rgba(31, 31, 31, 0.9);
  transition: opacity 0.2s;
  opacity: 0;
}
* main .info2 {
  font-size: 18px;
  color: white;
  text-align: center;
  margin: auto;
  transition: margin 0.3s;
  margin-top: 160px;
}
* main .arcos {
  color: white;
  list-style: none;
  text-align: center;
  margin-left: -2rem;
}
* main .headline {
  position: absolute;
  margin-top: 20px;
  transition: margin 0.2s;
  font-size: 21px;
  color: white;
}
* main .span {
  color: salmon;
  font-style: italic;
}
* main #item1 {
  background-image: url(/img/fondosagas1.png);
}
* main #item2 {
  background-image: url(/img/fondosagas2.png);
}
* main #item3 {
  background-image: url(/img/fondosagas3.png);
}
* main #item4 {
  background-image: url(/img/fondosagas4.png);
}
* main #item5 {
  background-image: url(/img/fondosagas5.png);
}
* main #item6 {
  background-image: url(/img/fondosagas6.png);
}
* main #item7 {
  background-image: url(/img/fondosagas7.png);
}
* main #item8 {
  background-image: url(/img/fondosagas8.png);
}
* main #item9 {
  background-image: url(/img/fondosagas9.png);
}
* main .contact1 {
  font-size: 25px;
  margin-top: 10px;
}
* main .contact2 {
  background-color: #39bbc4;
  font-size: 25px;
  color: black;
}
* main .contact2:hover {
  background-color: #39bbc4;
}
* main .intcontenedor {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "pers1 pers2 pers3 pers4 pers5 pers6" "pers7 pers8 pers9 pers10 pers11 pers12";
  margin: auto;
  margin-top: 1rem;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-delay: 0s;
}
* main .pers {
  height: 5rem;
  width: 5rem;
  background-color: #39bbc4;
  border: 2px dashed white;
  transition: all 0.5s;
}
* main .pers:hover {
  background-color: salmon;
  height: 7rem;
  width: 7rem;
}
* main .card-title {
  background-color: #39bbc4;
}
* main .btn-danger {
  background-color: salmon;
  border-color: salmon;
}
* main .card-img-top {
  max-height: 500px !important;
  max-width: fit-content !important;
  margin: auto;
}
* main .videos {
  width: 578px;
}
* footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  color: white;
  justify-content: center;
  height: max-content;
  padding-top: 20px;
  text-align: center;
}
* footer a {
  list-style: none;
  text-decoration: none;
  font-size: 25px;
  color: white;
}
* footer a:hover {
  color: #39bbc4;
}
* footer .footlist {
  display: inline;
  text-align: center;
  line-height: 100px;
  margin: 25px;
}
* .bg-dark {
  background-color: black !important;
}
@media only screen and (min-width: 50px) and (max-width: 480px) {
  * body {
    background-size: cover;
    width: 100%;
  }
  * body header .barras {
    padding: 0.5rem;
  }
  * body header .listas {
    width: fit-content;
  }
  * body header .listas a {
    font-size: 1rem;
  }
  * body header picture {
    text-align: center;
  }
  * body header a.nav-link {
    font-size: 1rem;
    text-align: center;
  }
  * body .news {
    width: fit-content;
    margin-top: 2rem;
  }
  * body .box1 {
    padding: 0.5rem;
    width: fit-content;
    border-width: 0.5rem;
    border-color: salmon;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  * body .imgind {
    max-width: 100%;
  }
  * body .card-img-top {
    max-width: 100% !important;
    max-height: 20rem !important;
  }
  * body .nombres {
    font-size: 1.1rem;
  }
  * body section h3 {
    font-size: 0.8rem;
  }
  * body section h3 b {
    font-size: 0.9rem;
  }
  * body section h3 i {
    font-size: 0.9rem;
  }
  * body .card-text {
    font-size: 0.8rem;
  }
  * body .card-title {
    font-size: 1rem;
  }
  * body .titulonews2 {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    color: white;
    padding: 25px;
  }
  * body .titulos {
    font-size: 1.5rem;
  }
  * body .intcontenedor {
    width: 320px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: "pers1 pers2 pers3" "pers4 pers5 pers6" "pers7 pers8 pers9" "pers10 pers11 pers12";
    justify-content: center;
  }
  * body .contact1 {
    font-size: 1.2rem;
  }
  * body .contact2 {
    font-size: 1.2rem;
  }
  * body .videos {
    width: 290px;
    height: fit-content;
  }
  * body .videosnews {
    width: 290px;
    height: 20rem;
  }
  * body .ahref {
    font-size: 0.8rem;
  }
  * body .mini1 {
    font-size: 0.8rem;
  }
  * body .mini2 {
    font-size: 0.8rem;
  }
  * body .textonews {
    font-size: 0.9rem;
  }
  * body .contenedor {
    width: auto;
    height: auto;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9";
  }
  * body .item {
    width: 10rem;
    height: 10rem;
    margin: 1px;
    border-radius: 10px;
    margin-top: 10px;
  }
  * body .item:hover .headline {
    margin-left: 2rem;
  }
  * body .item:hover .info2 {
    margin-top: 40px;
  }
  * body .info {
    width: 10rem;
    height: 10rem;
  }
  * body .info2 {
    font-size: 0.7rem;
  }
  * body .headline {
    font-size: 0.7rem;
  }
  * body .arcos {
    font-size: 0.7rem;
  }
  * body footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    height: max-content;
    padding-top: 1rem;
    text-align: center;
    row-gap: 1rem;
  }
  * body footer a {
    font-size: 1.5rem;
  }
  * body footer a:hover {
    color: #39bbc4;
  }
  * body footer .footlist {
    list-style: none;
    display: inline;
    text-align: center;
    line-height: 1rem;
    margin: 1rem;
  }
  * body footer small {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  * body {
    background-size: cover;
    width: 100%;
  }
  * body header .barras {
    padding: 0.5rem;
  }
  * body header .listas {
    width: fit-content;
  }
  * body header .listas a {
    font-size: 1rem;
  }
  * body header picture {
    text-align: center;
  }
  * body header a.nav-link {
    font-size: 1rem;
    text-align: center;
  }
  * body .news {
    width: fit-content;
    margin-top: 2rem;
  }
  * body .box1 {
    padding: 0.5rem;
    max-width: 400px;
    border-width: 0.8rem;
    border-color: salmon;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  * body .imgind {
    max-width: 100%;
  }
  * body .card-img-top {
    max-width: 100% !important;
    max-height: 20rem !important;
  }
  * body .nombres {
    font-size: 1.2rem;
  }
  * body section h3 {
    font-size: 0.8rem;
  }
  * body section h3 b {
    font-size: 1rem;
  }
  * body section h3 i {
    font-size: 1rem;
  }
  * body .card-text {
    font-size: 0.8rem;
  }
  * body .card-title {
    font-size: 1rem;
  }
  * body .titulos {
    font-size: 1.5rem;
  }
  * body .intcontenedor {
    width: 320px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: "pers1 pers2 pers3 pers4" "pers5 pers6 pers7 pers8" "pers9 pers10 pers11 pers12";
    justify-content: center;
  }
  * body .contact1 {
    font-size: 1.3rem;
  }
  * body .contact2 {
    font-size: 1.3rem;
  }
  * body .videos {
    width: 370px;
    height: fit-content;
  }
  * body .ahref {
    font-size: 0.8rem;
  }
  * body .mini1 {
    font-size: 0.8rem;
  }
  * body .mini2 {
    font-size: 0.8rem;
  }
  * body .contenedor {
    width: auto;
    height: auto;
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item10";
  }
  * body .item {
    width: 10rem;
    height: 10rem;
    margin: 1px;
    border-radius: 10px;
    margin-top: 10px;
  }
  * body .item:hover .headline {
    margin-left: 2rem;
  }
  * body .item:hover .info2 {
    margin-top: 40px;
  }
  * body .info {
    width: 10rem;
    height: 10rem;
  }
  * body .info2 {
    font-size: 0.7rem;
  }
  * body .headline {
    font-size: 0.7rem;
  }
  * body .arcos {
    font-size: 0.7rem;
  }
  * body footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    height: max-content;
    padding-top: 1rem;
    text-align: center;
    row-gap: 1rem;
  }
  * body footer a {
    font-size: 1.5rem;
  }
  * body footer a:hover {
    color: #39bbc4;
  }
  * body footer .footlist {
    list-style: none;
    display: inline;
    text-align: center;
    line-height: 1rem;
    margin: 1rem;
  }
  * body footer small {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  * body {
    background-size: cover;
    width: 100%;
  }
  * body header .barras {
    padding: 0.8rem;
  }
  * body header .listas {
    width: fit-content;
  }
  * body header .listas a {
    font-size: 1rem;
  }
  * body header picture {
    text-align: center;
  }
  * body header a.nav-link {
    font-size: 1rem;
    text-align: center;
  }
  * body .news {
    width: fit-content;
    margin-top: 2rem;
  }
  * body .box1 {
    padding: 0.5rem;
    border-width: 1rem;
    border-color: salmon;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  * body .imgind {
    max-width: 100%;
  }
  * body .card-img-top {
    max-width: 100% !important;
    max-height: 20rem !important;
  }
  * body .nombres {
    font-size: 1.5rem;
  }
  * body .card-text {
    font-size: 1rem;
  }
  * body .card-title {
    font-size: 1rem;
  }
  * body .titulos {
    font-size: 2rem;
  }
  * body section h3 {
    font-size: 0.9rem;
  }
  * body section h3 b {
    font-size: 1.2rem;
  }
  * body section h3 i {
    font-size: 1.2rem;
  }
  * body .videos {
    width: 590px;
  }
  * body .ahref {
    font-size: 1.1rem;
  }
  * body .mini1 {
    font-size: 1.1rem;
  }
  * body .mini2 {
    font-size: 1.1rem;
  }
  * body .contenedor {
    width: auto;
    height: auto;
    grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9";
  }
  * body .item {
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    margin: 10px;
  }
  * body .item:hover .headline {
    margin-left: 2.3rem;
  }
  * body .item:hover .info2 {
    margin-top: 45px;
  }
  * body .info {
    width: 15rem;
    height: 15rem;
  }
  * body .info2 {
    font-size: 1.2rem;
  }
  * body .headline {
    font-size: 1.2rem;
  }
  * body .arcos {
    font-size: 1.2rem;
  }
  * body footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    height: max-content;
    padding-top: 1rem;
    text-align: center;
    row-gap: 1rem;
  }
  * body footer a {
    font-size: 1.5rem;
  }
  * body footer a:hover {
    color: #39bbc4;
  }
  * body footer .footlist {
    list-style: none;
    display: inline;
    text-align: center;
    line-height: 1rem;
    margin: 1rem;
  }
  * body footer small {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
